<!-- templates/stickynotes/stickynote_form.html -->

<!-- Template for creating and updating stickynotes. -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>

    <form action="{% if form.instance.pk %} 
        {% url 'update_stickynote' pk=form.instance.pk %}
        {% else %} {% url 'create_stickynote' %}
     {% endif %}" method="post">
    

    {% csrf_token %}

    {{form.as_p}}
    <button type="submit">save</button>

</form>

<br>
<a href="{% url 'stickynotes' %}"> Back to StickyNote List </a>

</section>
{% endblock %}
